@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a HappyBody</h1>
    <p>Si quiere agregar o revisar ejercicios, haga clic en "Ejercicios". Si desea agregar un gimnasio nuevo, haga clic en "Gimnasios."</p>
</div>
