@model SoftwareIntegrationThirdVersion.Models.Exercise

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Exercise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="exerciseId" />
            <div class="form-group">
                <label asp-for="gymId" class="control-label"></label>
                <input asp-for="gymId" class="form-control" />
                <span asp-validation-for="gymId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="exerciseName" class="control-label"></label>
                <input asp-for="exerciseName" class="form-control" />
                <span asp-validation-for="exerciseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="exerciseDescription" class="control-label"></label>
                <input asp-for="exerciseDescription" class="form-control" />
                <span asp-validation-for="exerciseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="exerciseDuration" class="control-label"></label>
                <input asp-for="exerciseDuration" class="form-control" />
                <span asp-validation-for="exerciseDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
